.Edisson{
    height: 215px;
    position: relative;
    left: 15%;
    border-radius: 20px;
}
.Cesar{
    height: 215px;
    position: relative;
    left: 30%;
    margin-top: 9%;
    border-radius: 20px;
}
.Joana{
    height: 215px;
    position: relative;
    left: 45%;
    border-radius: 20px;
}
.Name1{
    position: absolute;
    left: 16%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2px;

}
.Name2{
    position: absolute;
    left: 44.5%;
    margin-top: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Name3{
    position: absolute;
    left: 73%;
    margin-top: 2px;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Text1{
    position: absolute;
    left: 15.5%;
    margin-top: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Text2{
    position: absolute;
    left: 44%;
    margin-top: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Text3{
    position: absolute;
    left: 73%;
    margin-top: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.RED1{
    position: absolute;
    margin-top: 30px;
    left: 18.5%;
}
.RED2{
    position: absolute;
    margin-top: 30px;
    left: 47%;
}
.RED3{
    position: absolute;
    margin-top: 30px;
    left: 76%;
}
.text-front{
    position: absolute;
    margin-top: 135px;
    left: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-back{
    position: absolute;
    margin-top: 135px;
    left: 40%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-full{
    position: absolute;
    margin-top: 135px;
    left: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.FOO{
    margin-top: 300px;
}
