.footer {
    background-color: white;
    border-top: 1px solid gray;
    position: static;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.hol {
    height: 70px;
    margin-top: 10px;
}

.Pap {
    position: relative;
    text-align: right;
    font-size: 12px;
    margin-top: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
}

.Face {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 93%;
    margin-top: -14px;
}

.Instagram {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 90%;
    margin-top: -15px;
    
}

.Tw{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 87%;
    margin-top: -13px;
}