.contend{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    background-color: #EDF0F4;
}
.tijano{
    margin-top: 4%;
    position: relative;
    height: 300px;
    left: 60%;
}
.titulo{
    margin-top: -250px;
    margin-left: 13%;
    font-size: 33px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitulo{
    margin-top: 90px;
    text-align: center;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.frutero{
    height: 350px;
    position: relative;
    left: 30%;
    margin-top: 10px;
}
.fique{
    height: 250px;
    position: relative;
    right: 35%;
}