.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    margin-left: 15%;
    margin-right: 15%;
}
.slider{
    display: flex;
    cursor: grab;
}
.item{
    height: 20rem;
    min-width: 20rem;
    padding: 2rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
